@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "spaceGrotesk";
  src: url("/assets/fonts/SpaceGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

